::-webkit-scrollbar{width:6px}
.overflow-pdf{overflow-y:scroll;height:255px}
::-webkit-scrollbar-track{ background-color: #d2d2d2;}
::-webkit-scrollbar-thumb{ background:#008bd0; }
::-webkit-scrollbar-thumb:window-inactive{background:#008bd0}
*:focus {
    outline: none;
}
.pl-5 {
    padding-left: 4.5rem !important;
}
.pl-5 {
    padding-right: 4.5rem !important;
}
.px-5 {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
}
.title-decoration { 
    &:after{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 4px;
        width: 1.5rem;
        background-color: #00aaff;
        content: "";
    }
    &.title-decoration-left {
        padding-left: 2.5rem;
        &:after{
            left: 0px;
        }
    }
    &.title-decoration-right {
        padding-right: 2.5rem;
        &:after{
            right: 0px;
        }
    }
    &.text-white {
        &:after {
            background-color: #fff;
        }
    }
}
.title-block {
    h2 {
        font-size: 3rem;
        font-weight: 700;
    }
    p {
        font-size: 3rem;
        letter-spacing: 1px;
        font-weight: 300;
        line-height: 1.2;
    }
}
.cursor {
    position: fixed;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    &.active {
        opacity: 1;
        transform: scale(0);
    }
    &.menu-active {
        opacity: 1;
        transform: scale(0);
    }
    &.hovered {
        opacity: 1;
    }
}
.cursor-follower {
    position: fixed;
    border:1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(2px, 2px);
    //overflow: hidden;
    &.active {
        opacity: 1;
        transform: scale(3);
    }
    &.menu-active {
        opacity: 1;
        transform: scale(3);
    }
    &.hovered {
        opacity: 1;
    }
}

.scroll-more-btn {
    position: absolute;
    color: #fff;
    width: 4.375rem;
    height: 15rem;
    bottom: 0;
    border: 0;
    .more-text {
        -webkit-transform: rotate(-90deg) translateX(2rem);
        transform: rotate(-90deg) translateX(2rem);
    }
    .bar-wrapper--down {
        bottom: 2.14286rem;
        left: calc(50% - 1px);
    }
    .bar-wrapper {
        width: 2px;
        height: 58px;
        position: absolute;
        left: calc(50% - 2px);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: 0;
        cursor: pointer;
    }
    .bar-line, .bar-whitespace {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .bar-line--down {
        -webkit-animation: slide-down 2s steps(100) infinite;
        animation: slide-down 2s steps(100) infinite;
    }
    .bar-line {
        background-color: #fff;
        left: 0;
        top: 0;
    }
    .bar-whitespace {
        margin: 0 auto;
        overflow: hidden;
        z-index: 1;
    }
    &.animation--from-right-fade {
        right: 0px;
    }
}
@-webkit-keyframes slide-down {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%)
	}
	to {
		-webkit-transform: translateY(100%);
		transform: translateY(100%)
	}
}

@keyframes slide-down {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%)
	}
	to {
		-webkit-transform: translateY(100%);
		transform: translateY(100%)
	}
}

@-webkit-keyframes slide-up {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%)
	}
	to {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%)
	}
}

@keyframes slide-up {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%)
	}
	to {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%)
	}
}
.home-section-wrapper {
    min-height: 100vh;
}
.timeline-brand-wrapper-container {
    height: 100vh;
    .timeline-brand-wrapper {
        z-index: 2;
        position: sticky;
        top: 70px;
    }
}