.hero-carousel {
    margin: 70px 0px;
    height: calc(100vh - 140px);
    background-color: #ccc;
    .hero-big-carousel, .slick-slider, .slick-list, .slick-track, .slick-slide, .slick-slide div, .slick-slider picture {
        height: 100%;
        z-index: 2;
    }
    .slick-slide {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            -webkit-transition:all .3s ease-in-out;
            -moz-transition:all .3s ease-in-out;
            -ms-transition:all .3s ease-in-out;
            -o-transition:all .3s ease-in-out;
            transition:all .3s ease-in-out;
        }
        .hero-big-caption {
            bottom: 0px;
            left: 0px;
            padding: 30px;
            height: unset;            
            -webkit-transition:all .3s ease-in-out;
            -moz-transition:all .3s ease-in-out;
            -ms-transition:all .3s ease-in-out;
            -o-transition:all .3s ease-in-out;
            transition:all .3s ease-in-out;
            h2 {
                font-weight: 700;
            }
            h3 {
                font-weight: 300;
                font-size: 1.5rem;
            }
        }
        :hover {
            img {
                transform: scale(1.3);
            }
            .hero-big-caption {
                left: 30px;
            }
        }
    }
    .hero-next-carousel {
        width: 30%;
        bottom: 60px;
        right: 0px;
        z-index: 2;
    }
}
.header-slide-status {
    background: #000;
    bottom: -70px;
    height: calc(100% - 50%);
    width: 50vw;
    right: -4.5rem;
}