.cls-1, .cls-2 {
    fill: #020204;
}
.cls-1 {
    fill-rule: evenodd;
}
.header {
    padding: 13px 0px;
    .logo {
        z-index: 2;
        svg {
            height: 44px;
        }
    }
    .nav-toggle {
        top: 0px;
        right: 0px;
        width: 72px;
        height: 70px;
    }
    &.is-opened {
        .logo {
            .cls-1, .cls-2 {
                fill:#fff;
            }
        }
        .nav-toggle {
            background-color: transparent;
            border: none;
            .p-event-none {
                &:first-of-type:after {
                    -webkit-transform: translate(-50%,.42857rem) rotate(45deg);
                    transform: translate(-50%,.42857rem) rotate(45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3):after {
                    -webkit-transform: translate(-50%,-.55rem) rotate(-45deg);
                    transform: translate(-50%,-.55rem) rotate(-45deg);
                }
            }
        }
        .megamenu{
            pointer-events: all;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}
.nav-toggle {
    z-index: 2;
    .p-event-none {
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateX(5%);
        transform: translateX(5%);
        -webkit-transition: opacity .35s,-webkit-transform .35s;
        transition: opacity .35s,-webkit-transform .35s;
        transition: transform .35s,opacity .35s;
        transition: transform .35s,opacity .35s,-webkit-transform .35s;
        &:first-of-type {
            top: calc(50% - 8px);
            &:after {
                -webkit-transform: translateX(-90%);
                transform: translateX(-90%);
            }
        }
        &:nth-of-type(3) {
            top: calc(50% + 8px);
            &:after {
                -webkit-transform: translateX(-90%);
                transform: translateX(-90%);
            }
        }
        &:after {
            content: "";
            top: 0;
            bottom: 0;
            left: 50%;
            background-color: #fff;
            width: 1.28571rem;
            position: absolute;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: -webkit-transform .35s;
            transition: -webkit-transform .35s;
            transition: transform .35s;
            transition: transform .35s,-webkit-transform .35s;
            -webkit-transform-origin: center;
            transform-origin: center;
        }
    }
    &:hover {
        .p-event-none {
            &:first-of-type {
                &:after {
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            }
            &:nth-of-type(3) {
                &:after {
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            }
        }
    }
}
.megamenu {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(134.72deg,rgba(0,170,255,.95),rgba(0,0,0,.95));
    font-size: 1.2rem;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s,-webkit-transform 1s;
    .navbar-nav {
        .nav-link {
            font-size: 1.8rem;
            &:after {
                content: "";
                left: 100%;
                width: 0;
                bottom: .4rem;
                height: 2px;
                background-color: #fff;
                position: absolute;
                -webkit-transition: width .35s;
                transition: width .35s;
            }
            &:active:after, &:focus:after, &:hover:after {
                width: 5.71429rem;
            }
        }
    }
    .megamenu-logo {
        svg {
            height: 60px;
            .cls-1, .cls-2 {
                fill: #fff;
            }
                .cls-1 {
                fill-rule: evenodd;
            }
        }
    }
    .social-icons {
        li {
            margin-right: 2rem;
            a {
                svg {
                    width: 1.4rem;
                    height: 1.4rem;
                    fill: #fff;
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}