.button-block {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #131313 !important;
  position: relative;
  &:after {
    content: "";
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    text-decoration: none;
    &:after {
      transform: translate(0%, -50%) rotate(45deg) scale(1);
      border-color: #4a00d8;
    }
    .button_bottom_line {
      &:after {
        right: 0;
      }
    }
  }

  .button_bottom_line {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #cacaca;
    position: absolute;
    -webkit-transition: height 0.35s, width 1.35s, -webkit-transform 0.35s;
    transition: height 0.35s, width 1.35s, -webkit-transform 0.35s;
    transition: height 0.35s, transform 0.35s, width 1.35s;
    transition: height 0.35s, transform 0.35s, width 1.35s,
      -webkit-transform 0.35s;
    display: block;
    &:after {
      content: "";
      height: 3px;
      left: 0;
      right: 100%;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#4a00d8),
        color-stop(23.75%, #7512b7),
        to(#fc4d4e)
      );
      background: linear-gradient(90deg, #4a00d8, #7512b7 23.75%, #fc4d4e);
      -webkit-transition: right 0.55s;
      transition: right 0.55s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      position: absolute;
    }
  }
}
