.clients-carousel {
    z-index: 2;
    .slick-list {
        background: linear-gradient(180deg, rgba(0, 170, 255, 0.95), rgba(0, 0, 0, 0.95));
    }
    .slick-arrow.slick-prev {
        left: -55px;
    }
}
.client-bg-thumb {
    height: calc(100vh - 70px);
    top: 70px;
    right: 0px;
    bottom: 0px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}