.my-masonry-grid {
    display: flex;
    margin-left: -50px;
    width: auto;
    .my-masonry-grid_column {
        padding-left: 50px;
        & > div {
            margin-bottom: 50px;
        }
        &:nth-of-type(even) {
            margin-top: 50px;
        }
    }
}
  