.footer {
    padding: 180px 0px 0px;
    .footer-social-list {
        position: absolute;
        top: 50px;
        left: 0px;
        z-index: 2;
        .social-icons {
            li {
                a {
                    padding: 20px;
                    svg {
                        width: 1.4rem;
                        height: 1.4rem;
                        fill: #fff;
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
    .footer-bottom-row {
        padding-top: 70px;
    }
    .scroll-more-btn {
        bottom: 72px;
    }
}